<div class="elementor-21347 mt-h">
    <div class="elementor-section-wrap">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-2f2f2db1 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default"
            data-id="2f2f2db1" data-element_type="section"
            data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}"
            style="width: 1351px; left: -15px;">
            <div class="elementor-container elementor-column-gap-default">
                <div
                    class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5f2ae827"
                    data-id="5f2ae827" data-element_type="column">
                    <div
                        class="elementor-widget-wrap elementor-element-populated">
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-59b1a4e0 service-line-style elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="59b1a4e0" data-element_type="section">
                            <div
                                class="elementor-container elementor-column-gap-extended">
                                <div
                                    class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-18e14c07"
                                    data-id="18e14c07"
                                    data-element_type="column">
                                    <div
                                        class="elementor-widget-wrap elementor-element-populated">
                                        <div
                                            class="elementor-element elementor-element-137860fb elementor-widget elementor-widget-rs-service-grid"
                                            data-id="137860fb"
                                            data-element_type="widget"
                                            data-widget_type="rs-service-grid.default">
                                            <div
                                                class="elementor-widget-container">

                                                <div
                                                    class="rs-animation-yes rs-addon-services services-style10 service_shape_ box_shadow_serial_disable short-border rs_hover_shape_disable">

                                                    <div
                                                        class="services-part image-align-">

                                                        <div
                                                            class="serial_number disable_position"
                                                            style="background: #fff; border:1px solid #FCA719;">
                                                            <div
                                                                class="services-icon elementor-animation-pulse icon_size_ image no">

                                                                <img
                                                                    decoding="async"
                                                                    class="main-img"
                                                                    src="http://www.corotsystems.com/website/wp-content/uploads/2023/03/icon-ai-Transformation-1.png"
                                                                    alt="Ab Initio">

                                                            </div>
                                                        </div>

                                                        <div
                                                            class="services-text">
                                                            <div
                                                                class="service-inner one">

                                                                <div
                                                                    class="services-title">

                                                                    <h4
                                                                        class="title">Ab
                                                                        Initio
                                                                    </h4>

                                                                </div>

                                                                <p
                                                                    class="services-txt">
                                                                    Ab Initio is
                                                                    a powerful
                                                                    data
                                                                    processing
                                                                    tool in ETL
                                                                    (Extract,
                                                                    Transform,
                                                                    Load)
                                                                    processes
                                                                    for
                                                                    enterprise
                                                                    data
                                                                    integration
                                                                    and
                                                                    management.

                                                                </p>
                                                                <div
                                                                    class="btn-handle">
                                                                    <a
                                                                        href="/ab-initio-services/"
                                                                        class="btn btn-primary btn-sm">Read
                                                                        more</a>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-3957a8b3"
                                    data-id="3957a8b3"
                                    data-element_type="column">
                                    <div
                                        class="elementor-widget-wrap elementor-element-populated">
                                        <div
                                            class="elementor-element elementor-element-5017e4c9 elementor-widget elementor-widget-rs-service-grid"
                                            data-id="5017e4c9"
                                            data-element_type="widget"
                                            data-widget_type="rs-service-grid.default">
                                            <div
                                                class="elementor-widget-container">

                                                <div
                                                    class="rs-animation-yes rs-addon-services services-style10 service_shape_ box_shadow_serial_disable long-border rs_hover_shape_disable">

                                                    <div
                                                        class="services-part image-align-">

                                                        <div
                                                            class="serial_number disable_position"
                                                            style="background: #fff; border:1px solid #25AAE3;">
                                                            <div
                                                                class="services-icon elementor-animation-pulse icon_size_ image no">

                                                                <img
                                                                    decoding="async"
                                                                    class="main-img"
                                                                    src="http://www.corotsystems.com/website/wp-content/uploads/2023/03/icon-big-data.png"
                                                                    alt="Big Data Solutions">

                                                            </div>
                                                        </div>

                                                        <div
                                                            class="services-text">
                                                            <div
                                                                class="service-inner two">

                                                                <div
                                                                    class="services-title">

                                                                    <h4
                                                                        class="title">
                                                                        Big Data
                                                                        Solutions</h4>

                                                                </div>

                                                                <p
                                                                    class="services-txt">Corot
                                                                    Systems
                                                                    provides
                                                                    end-to-end
                                                                    big data
                                                                    solutions,
                                                                    including
                                                                    data
                                                                    warehousing,
                                                                    data lakes,
                                                                    data
                                                                    analytics,
                                                                    machine
                                                                    learning,
                                                                    and
                                                                    AI-powered
                                                                    data
                                                                    processing
                                                                    services.

                                                                </p>

                                                                <div
                                                                    class="btn-handle">
                                                                    <a
                                                                        href="/big-data-services/"
                                                                        class="btn btn-primary btn-sm">Read
                                                                        more</a>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-533fe479"
                                    data-id="533fe479"
                                    data-element_type="column">
                                    <div
                                        class="elementor-widget-wrap elementor-element-populated">
                                        <div
                                            class="elementor-element elementor-element-5977cf1e elementor-widget elementor-widget-rs-service-grid"
                                            data-id="5977cf1e"
                                            data-element_type="widget"
                                            data-widget_type="rs-service-grid.default">
                                            <div
                                                class="elementor-widget-container">

                                                <div
                                                    class="rs-animation-yes rs-addon-services services-style10 service_shape_ box_shadow_serial_disable short-border rs_hover_shape_disable">

                                                    <div
                                                        class="services-part image-align-">

                                                        <div
                                                            class="serial_number disable_position"
                                                            style="background: #fff; border:1px solid #B3CA34;">
                                                            <div
                                                                class="services-icon elementor-animation-pulse icon_size_ image no">

                                                                <img
                                                                    decoding="async"
                                                                    class="main-img"
                                                                    src="http://www.corotsystems.com/website/wp-content/uploads/2023/03/icon-Cloud-and-Infrastructure-1.png"
                                                                    alt="Cloud Solutions">

                                                            </div>
                                                        </div>

                                                        <div
                                                            class="services-text">
                                                            <div
                                                                class="service-inner three">

                                                                <div
                                                                    class="services-title">

                                                                    <h4
                                                                        class="title">
                                                                        Cloud
                                                                        Solutions
                                                                    </h4>

                                                                </div>

                                                                <p
                                                                    class="services-txt">Corot
                                                                    Systems
                                                                    offers cloud
                                                                    services
                                                                    such as
                                                                    cloud
                                                                    infrastructure,
                                                                    migration,
                                                                    management,
                                                                    and security
                                                                    to help
                                                                    businesses
                                                                    leverage
                                                                    the benefits
                                                                    of cloud
                                                                    computing.

                                                                </p>

                                                                <div
                                                                    class="btn-handle">
                                                                    <a
                                                                        href="/cloud-services/"
                                                                        class="btn btn-primary btn-sm">Read
                                                                        more</a>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-7e61227a"
                                    data-id="7e61227a"
                                    data-element_type="column">
                                    <div
                                        class="elementor-widget-wrap elementor-element-populated">
                                        <div
                                            class="elementor-element elementor-element-2c660029 elementor-widget elementor-widget-rs-service-grid"
                                            data-id="2c660029"
                                            data-element_type="widget"
                                            data-widget_type="rs-service-grid.default">
                                            <div
                                                class="elementor-widget-container">

                                                <div
                                                    class="rs-animation-yes rs-addon-services services-style10 service_shape_ box_shadow_serial_disable long-border rs_hover_shape_disable">

                                                    <div
                                                        class="services-part image-align-">

                                                        <div
                                                            class="serial_number disable_position"
                                                            style="background: #fff; border:1px solid #EF4023;">
                                                            <div
                                                                class="services-icon elementor-animation-pulse icon_size_ image no">

                                                                <img
                                                                    decoding="async"
                                                                    class="main-img"
                                                                    src="http://www.corotsystems.com/website/wp-content/uploads/2023/03/icon-Application-Development-and-Maintenance-1.png"
                                                                    alt="Application Development">

                                                            </div>
                                                        </div>

                                                        <div
                                                            class="services-text">
                                                            <div
                                                                class="service-inner four">

                                                                <div
                                                                    class="services-title">

                                                                    <h4
                                                                        class="title">
                                                                        Application
                                                                        Development
                                                                    </h4>

                                                                </div>

                                                                <p
                                                                    class="services-txt"
                                                                    style="margin-bottom: 0;">
                                                                    Corot
                                                                    Systems
                                                                    provides
                                                                    custom
                                                                    application
                                                                    development
                                                                    services
                                                                    using agile
                                                                    methodologies,
                                                                    modern
                                                                    technologies,
                                                                    and
                                                                    frameworks
                                                                    to deliver
                                                                    scalable,
                                                                    high-performance
                                                                    solutions.</p>

                                                                <div
                                                                    class="btn-handle">
                                                                    <a
                                                                        href="/custom-software-development/"
                                                                        class="btn btn-primary btn-sm">Read
                                                                        more</a>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<style>
    .elementor-21347 {
        margin-top: 4rem;
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 100%;
    }

    .elementor-section.elementor-section-stretched {
        left: 0;
    }

    .services-text {
        box-shadow: none !important;
        padding: 0
    }

    .services-text .service-inner {
        box-shadow: 0px 2px 28px 0px rgb(0 0 0 / 5%) !important;
        padding: 40px 20px !important;
        width: 100% !important;
    }

    @media only screen and (max-width: 600px) {
        .services-text .service-inner {
            box-shadow: 0px 2px 28px 0px rgb(0 0 0 / 5%) !important;
            padding: 40px 20px !important;

        }

        .services-text {}
    }


    .rs-addon-services.services-style10.short-border .services-text {
        padding-top: 60px;
        box-shadow: 0px 2px 28px 0px rgb(0 0 0 / 5%);
        padding: 40px 0 !important;
    }

    .rs-addon-services.services-style10 .serial_number {
        left: 125px;
    }

    .rs-addon-services.services-style10.long-border .services-text {
        padding-top: 100px;
    }

    .rs-addon-services.services-style10 {
        margin-left: -20px;
    }
</style>